#footer {
	
	.footer-image {

		h2 {

			&:first-of-type {

				margin-top: 6%;

			}

		}

	}
	
	.locations {
		
		li {
			
			display: inline-block;
			
			a {

				display: inline-block;
				fontSize(45rem, h4-fontsize, 360, 1600);

			}

		}
	}
	
	.links {
		
  	width: 45%;
  	margin: 12px 0;

	}
}