#header {
	
	.navigation {
		
		&.active {
	    
	    ul {

	    	li {

					margin: 0 auto;
					
					&:first-of-type {

						margin-top: 4%;

					}

	    	}

	    }
	    
	    .menu-footer {position: relative;}
	    
		}
	}
}