{#
 # Legal index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/legal is
 # requested, because it is located at legal/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/_layout" %}

{% block content %}

	<div id="legal" class="page-wrapper">
		<section class="legal-section">
			<div class="container">
				<div class="grid">
					<div class="overview-container">
						{% for copy in entry.legalCopy %}

							{% if copy.type == "legalBody" %}
								<div class="copy-subheader col-1-3{% if loop.index > 1 %} margin-t-50{% endif %}">
									<h4> {{ copy.subheader }} </h4>

								</div>
								<div class="copy-container col-2-3{% if loop.index > 1 %} margin-t-50{% endif %} no-first-p-top">
									<p> {{ copy.legalCopy }} </p>

									{% if copy.type == "legalLink" %}
										<p> {{ copy.linkCopy }} </p>
									{% endif %}
								</div>
							{% endif %}

						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}
