//////////////////////////////////////////////////////////////////////////////
// Page

.error-page {
	text-align: center;
	padding: 100px 40px;
	h1 {
		color: $gray;
		margin-bottom: 10px;
	}
	a {
		@include transition (all, $timing-short, ease-in-out);
		color: $primary;
		cursor: pointer;
		&:hover {
			color: darken($primary, 20%);
		}
	}
}

.container {
	position: relative;
	padding-left: 55px;
	padding-right: 55px;
	max-width: 1920px;
	margin: 0 auto;
}
.approach-text {
	width: 100%;
	margin-top: 60px;

	p {
		font-size: 2.4vw;
		line-height: 3vw;
	}
}
#body {
	display: block;
	margin-top: 100px;
	section {
		display: block;
		padding-top: 55px;
		padding-bottom: 55px;
		&.hero-section {
			padding-top: 0px;
		}
		&.color-background {
			background-color: #e5e5e5;
		}
	}
}

.partnership-carousel {
	margin-top: 20px;
}

#footer .container {
	padding: 0;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

#footer {
	.links {
		color: $gray;
		a {
			margin-right: 20px;
		}
	}
}

.tiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.tile {
		width: 33.33%;
		float: left;
		padding-right: $margin-base;
		padding-bottom: 20px;
		.grid &:last-of-type {
			padding-right: 0;
		}
	}
}

.down-arrow {
	@include transition (all, $timing-short, ease-in-out);
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -20px;
	display: block;
	cursor: pointer;

	animation-name: floating;
	-webkit-animation-name: floating;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	polyline {
		@include transition (all, $timing-short, ease-in-out);
		stroke: $gray;
	}
	&:hover {
		polyline {
			stroke: $primary;
		}
	}
}

.carousel-items-container {
	list-style: none;
}
.carousel-indicators {
	button {
		@include transition (all, $timing-short, ease-in-out);
		@include border-radius (100px);
		width: 14px;
		height: 14px;
		padding: 0;
		background-color: transparent;
		border: 2px solid $black;
		cursor: pointer;
		margin-right: 4px;
		&:hover {
			border-color: $primary;
		}
		&.active {
			background-color: $black;
			border-color: $black;
			-webkit-box-shadow: inset 0px 0px 0px 14px rgba(0,0,0,1);
			-moz-box-shadow: inset 0px 0px 0px 14px rgba(0,0,0,1);
			box-shadow: inset 0px 0px 0px 14px rgba(0,0,0,1);
		}
	}
}

.news-item-title h4, .title-link h4 {
	padding-top: 4px;
}

.load-more-container, .no-more-container {
	margin-bottom: 10px;
}

.copy-container {
	min-height: 100px;
}

.press-container {
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
.social {
	margin-top: 6px;
	#facebook,
	#twitter,
	#linkedin,
	#emailshare {
		max-width: 18px;
		max-height: 18px;
		margin-right: 8px;
		margin-top: 8px;
	}
}
.toggle-year-filter,
.toggle-company-filter {
	max-width: 180px;
	a {
		position: relative;
		width: 100%;
		display: inline-block;
		.toggle-arrow {
			position: absolute;
			right: 20px;
			top: 8px;
			polygon {
				@include transition (all, $timing-short, ease-in-out);
				fill: $gray;
			}
		}
		&:hover {
			svg polygon {
				fill: $primary;
			}
		}
	}
}
.year-filter-dropdown,
.company-filter-dropdown {
	&.active {
		li {
			display: block;
		}
	}
	li {
		@include transition (all, $timing-short, ease-in-out);
		display: none;
		list-style: none;
		cursor: pointer;
		color: $gray;
		&:hover {
			color: $primary;
		}
		&.active {
			color: $primary;
			display: block;
		}
	}
}
.social a,
.button-back {
	path,
	polygon {
		@include transition (all, $timing-short, ease-in-out);
	}
	&:hover {
		polygon {
			fill: $primary;
		}
		path {
			fill: $primary;
		}
	}
}
.news-nav-split {
	display: none;
	margin: 20px 20px 20px 0;
	border-color: transparent;
}
.load-more {
	cursor: pointer;
}
.tablet-nav {
	display: none;
}
.news-tile {
	display: none;
	padding-right: 20px;
	&.active {
		display: block;
	}
	&.hidden {
		display: none !important;
	}
}
.see-map {
	display: inline-block;
	margin-top: 20px;
}
.map {
	min-height: 500px;
	#map {
		min-height: 500px;
	}
}

nav ul {
	list-style-type: none;
}

#team, #portfolio {
	padding-top: 50px;
}

#team ul, #portfolio ul {
	list-style-type: none;
	font-size: 22px;
	line-height: 24px;

	li {
		margin-bottom: 8px;
	}
}