//////////////////////////////////////////////////////////////////////////////
// Landscape

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

}
//////////////////////////////////////////////////////////////////////////////
// Responsive <1600px wide

@media only screen and (max-width: 1600px) {

}

//////////////////////////////////////////////////////////////////////////////
// Responsive <1400px wide

@media only screen and (max-width: 1400px) {

}

//////////////////////////////////////////////////////////////////////////////
// Responsive <1100px wide

@media only screen and (max-width: 1100px) {
	// .hero-text {
	// 	width: 100%;
	// }
}

//////////////////////////////////////////////////////////////////////////////
// Responsive <768px wide

@media only screen and (max-width: 768px) {
	.desktop-only {
		display: none;
	}
	.tablet-only {
		display: block;
	}
	html, body {
		font-size: 15px;
		line-height: 21px;
	}
	h1 { // Hero
		font-size: 54px;
		line-height: 68px;
		letter-spacing: -2px;
	}
	h2 { // Portfolio
		font-size: 27px;
		line-height: 32px;
		letter-spacing: 0px;
	}
	h3 { // New Article
		font-size: 27px;
		line-height: 32px;
		letter-spacing: 0px;
	}
	h4 { // Category
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0px;
	}
	h6 { // Header
		font-size: 9px;
		line-height: 12px;
		letter-spacing: 2px;
	}
	#header {
		.logo.nav {
			color: $white;
		}
		.logo .letter-t {
			left: 19%;
		}
		.logo .letter-p {
			left: 33%;
		}
	}
	#header #navigation {
		right: -100vw;
		width: 100vw;
	}
	.legal-section,
	.press-section {
		.col-1-3 {
			width: 100%;
		}
		.col-2-3 {
			width: 100%;
			margin-top: 20px;
		}
	}
	.expertise-section {
		.expertise-header {
			width: 100%;
			margin-bottom: 40px;
		}
		.areas-container {
			width: 100%;
		}
	}
	.news-section {
		margin-top: 10px;

		.news-info {
			margin-bottom: 20px;
		}

		.container {
			padding: 0;

			h2 {
				font-size: 24px;
				line-height: 32px;
			}
		}

		.news-date {
			margin-bottom: 4px;
		}

		.toggle-arrow {
			display: none;
		}
		.news-title {
			display: none;
		}
		.subnav-container {
			h4 {
				font-weight: 500;
			}
		}
		.subnav-container {
			width: 100%;
			padding: 10px 0;
		}
		.col-6-8 {
			width: 100%;
		}
	}
	.partnership-section {
		.container {
			padding: 0;
		}
		.news-header {
			width: 33.3%;
		}
		.partnership-carousel {
			width: 66.6%;
		}
	}
	#team, #portfolio {
		.team-list, .portfolio-list {
			width: 100%;
			margin-bottom: 20px;
			border-bottom: 1px solid $light-gray;
			padding: 10px 0;
		}
		.subnav {
			width: 100%;
		}
		.col-6-8 {
			width: 100%;
		}
		.overview-container {
			width: 100%;
		}
	}
	.approach-text {
		width: 100%;
		margin-top: 60px;

		p {
			font-size: 2.4vh;
			line-height: 3vh;
		}
	}
	.office-header {
		width: 33.3%;
	}
	.tablet-column {
		float: left;
		width: 66.6%;
		.col-2-8 {
			width: 100%;
			.office-name {
				float: left;
				width: 50%;
			}
			.tablet-office {
				float: left;
				width: 50%;
				margin-bottom: 40px;
			}
		}
	}
	.contact-section {
		.subnav-container {
			min-height: 400px;
		}
		.subnav {
			width: 100%;
			margin-bottom: 40px;
		}
		.map-container {
			width: 100%;
		}
	}
	.tablet-nav {
		display: block;
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		&.hidden {
			display: none;
		}
	}
	.subnav-container {
		width: 33.3%;
	}
	.tablet-2-3 {
		width: 66.6%;
		.col-2-3 {
			width: 100%;
		}
	}
	.see-map {
		margin-top: 0;
	}
}

//////////////////////////////////////////////////////////////////////////////
// Responsive <800px wide

@media only screen and (max-width: 800px) {

}

//////////////////////////////////////////////////////////////////////////////
// Responsive <600px wide

@media only screen and (max-width: 600px) {

}

//////////////////////////////////////////////////////////////////////////////
// Responsive <500px wide

@media only screen and (max-width: 500px) {
	nav {
		position: relative;
		width: 100%;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		padding: 10px 0;
	}
	.container {
	    position: relative;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	#header {
		.logo {
			left: 20px;
			right: 20px;
		}
	}

	#header #menu {
		right: 20px;
	}
	#header #navigation ul li {
		margin-left: 20px;
	}
	.hero-text {
		font-size: 48px;
		line-height: 48px;
		p {
			margin-top: 10px;
		}
	}
	#footer .links {
		left: 20px;
	}
	#body section {
		padding-top: 0px; // was 40 => 20
		padding-bottom: 20px;
	}
	html, body {
		font-size: 15px;
		line-height: 21px;
	}
	h1 { // Hero
		font-size: 36px;
		line-height: 50px;
		letter-spacing: -2px;
	}
	h2 { // Portfolio
		font-size: 36px;
		line-height: 41px;
		letter-spacing: -2px;
	}
	h3 { // New Article
		font-size: 27px;
		line-height: 32px;
		letter-spacing: 0px;
	}
	h4 { // Category
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0px;
	}
	h6 { // Header
		font-size: 9px;
		line-height: 12px;
		letter-spacing: 2px;
	}
	#body {
		margin-top: 80px;
	}
	#header {
		height: 80px;
		.logo h2 {
			font-size: 36px;
			line-height: 38px;
		}
		.logo .letter-t {
			left: 36%;
		}
		.logo .letter-p {
			left: 60%;
		}
		#navigation .close {
			top: 24px;
			right: 20px;
		}
		#menu {
			top: 26px;
		}
	}
	.sticky {
		position: relative;
		position: relative;
		position: relative;
		position: relative;
		top: 0;
	}
	.expertise-section {
		.areas-container {
			.col-1-3 {
				width: 100%;
				margin-bottom: 10px;
			}
			.col-2-3 {
				width: 100%;
			}
		}
	}
	.team-section {
		.areas-container {
			.col-1-3 {
				width: 100%;
				margin-bottom: 10px;
			}
			.col-2-3 {
				width: 100%;
			}
		}
	}
	.partnership-section {
		padding-top: 30px !important;
		padding-bottom: 80px !important;
		.news-header {
			width: 100%;
			margin-bottom: 20px;
		}
		.partnership-carousel {
			width: 100%;
		}
	}
	#footer {
		.tablet-column {
			width: 100%;
		}
		.office-header {
			width: 100%;
		}
		.office-name {
			width: 100%;
		}
		.tablet-office {
			width: 100%;
		}
	}
	#team, #portfolio {
		padding-top: 0;
		.team-list, .portfolio-list {
			width: 100%;
			margin-bottom: 20px;
			border-bottom: 1px solid $light-gray;
			padding: 10px 0;
		}
		.col-6-8 {
			width: 100%;
		}
		.overview-container {
			width: 100%;
		}
	}
	#article {
		.subnav-container,
		.overview-container {
			width: 100%;
		}
		.back-to-articles {
			margin-bottom: 30px;
			display: none;
		}
		.social {
			margin-bottom: 30px;
			display: none;
		}
		.title {
			margin-bottom: 40px;
		}
		.news-date {
			margin-bottom: 0px;
		}
	}
	section.news-section {
		padding-bottom: 0 !important;

		.news-title {
			display: none;
		}
		.subnav-container {
			h4 {
				font-weight: 500;
			}
		}
		.subnav-container {
			width: 100%;
			border-top: 1px solid $light-gray;
			padding-bottom: 0 !important
		}
		.col-6-8 {
			width: 100%;
		}
	}
	#about,
	#press,
	#legal {
		.subnav-container {
			margin-bottom: 20px;
			border-top: 1px solid $light-gray;
			border-bottom: 1px solid $light-gray;
			padding: 10px 0;
		}
		.col-2-8,
		.col-6-8 {
			width: 100%;
		}
	}
	.contact-section .subnav-container {
		width: 100%;
		min-height: auto;
		margin: 0;
	}
	.contact-section {
		.container {
			padding: 0;
		}
	}
	.hero-section .container {
		width: 100%;
	}
	.content-container {
		width: 100%;
	}
	.contact-section .subnav {
		margin-top: 40px;
		width: 100%;
	}
	.contact-section .map-container {
		width: 100%;
	}
	.toggle-year-filter a .toggle-arrow,
	.toggle-company-filter a .toggle-arrow {
		right: 0px;
	}
	.news-nav-split {
		margin-right: 0;
	}
	.subnav-container {
		padding-right: 0;
	}
	#article .h4 {
		font-size: 18px;
		line-height: 26px;
	}

	nav.main-navigation {
		width: 100%;
	}

	//////////////////////////////////////////////////////////////////////////////
	// Hack fixes

	.margin-b-50-not-last {
		margin-bottom: 25px;
	}

	#footer .offices {
		padding-bottom: 70px;
		padding-top: 0px;
		margin-bottom: 0;
	}

	nav {
		margin-bottom: 20px;
	}

	.approach-text {
		margin-top: 0;

		p {
			font-size: 2.4vh;
			line-height: 3vh;
		}
	}

	nav.main-navigation {
	  margin-bottom: 0;
	}
}

//////////////////////////////////////////////////////////////////////////////
