//////////////////////////////////////////////////////////////////////////////
// Misc

$imagePath: "../../../assets/imgs";

//////////////////////////////////////////////////////////////////////////////
// Colors

$black: 		#000000;
$gray: 			#B3B3B3;
$light-gray: 	#D9D9D9;
$white: 		#FFFFFF;

$primary: 		#FF3F16;
$light-primary: #FDA08E;

//////////////////////////////////////////////////////////////////////////////
// Spacing

$margin-base: 20px;

//////////////////////////////////////////////////////////////////////////////
// Timing

$timing-short: 200ms;
$timing-long: 4000ms;

//////////////////////////////////////////////////////////////////////////////
