/*==========  Variables  ==========*/

@import "768/_variables";

/*==========  Components  ==========*/
@import "768/components/_header";
@import "768/components/_footer";
@import "768/components/_carousel";

/*==========  Pages  ==========*/

@import "768/pages/_homepage";
@import "768/pages/_team";
@import "768/pages/_team-member";
@import "768/pages/_portfolio";
@import "768/pages/_company";
@import "768/pages/_news";
@import "768/pages/_article";
@import "768/pages/_contact";
@import "768/pages/_press";
@import "768/pages/_legal";