/* Typography
 ========================================================================== */
      
/* Font Sizes */

base-fontsize        	= 1.6rem;
h1-fontsize			   	= 4.5rem;
h2-fontsize			   	= 3.5rem;
h3-fontsize			   	= 3.0rem;
h4-fontsize             = 2.5rem;
h5-fontsize			   	= 2.0rem;

/* Line heights */ 

base-lineheight        	= 1.6rem;
h1-lineheight			= 4.5rem;
h2-lineheight			= 3.5rem;
h3-lineheight			= 3.0rem;
h4-lineheight           = 2.5rem;
h5-lineheight			= 2.0rem;