#header {
	
	top: 0;
	padding: 1.4% 8%;
	

	img {

		width: 98px;
    	height: 43px;

	}
	
	&.small {

		height: 70px;
	}
	
	.navigation {

		ul {
			
			text-align: right;

			li {

				display: inline-block;
				margin-right: 60px;
				font-family: National-Book;
				fontSize(150.55rem, h5-fontsize, 360, 1600);
  			border-bottom: 1px dotted darker-grey-copy;
				
				&:last-of-type {

					margin-right: 0px;

				}
			}
		}	
	}
}