#legal {
	
	// .legal-section {

	// 	padding-top: 8%;
	// 	border-top: 5px solid matte-red;
		
	// 	.legal-copy {
			
	// 		width: 70%;
	// 		margin: 5% auto;

	// 		h1 {
	// 			margin: 2% 0 6%;
	// 			color: darker-grey-copy;
	// 			fontSize(104.599rem, h1-fontsize, 360, 1600);
	// 		}

	// 		h3 {
	// 			margin: 2% 0;
	// 			margin-left: 8%;
	// 			color: darker-grey-copy;
	// 			fontSize(123.05rem, h4-fontsize, 360, 1600);
	// 		}
			
	// 		p {
	// 			width: 85%
	// 			margin-left: 8%;
	// 			fontSize(150.55rem, h5-fontsize, 360, 1600);
	// 			line-height: h3-lineheight;
	// 		}
			
	// 		a {
	// 			display: inline-block;
	// 			margin-left: 8%;
	// 			margin-top: 50px;
	// 			fontSize(142.2rem, h5-fontsize, 360, 1600);
	// 			cursor: pointer;
	// 		}
	// 	}
	// }
}