#news {

	// .news-filters {

	// 	position: absolute;

	// }

	// .news-tile {

	// 	&:first-of-type {
	// 		padding-top: 8%;
	// 	}
		
	// 	&:nth-child(odd) {
	// 		.news-info {background-color: white;}
	// 	}
		
	// 	&:nth-child(even) {
	// 		background-color: off-white-background;
	// 		border-top: 1px solid rgba(0,0,0,0.05);
	// 	}

	// 	.news-info {
			
	// 		width: 85%;
	//     margin: 0 auto;
	//     padding: 5%;

	// 		h1 {
	// 			margin: 2% 0;
	// 			color: darker-grey-copy;
	// 			fontSize(99.555rem, h2-fontsize, 360, 1600);
	// 			line-height: 1.4;
	// 		}
			
	// 		a {
	// 			display: inline-block;
	// 			margin-top: 10px;
	// 			fontSize(142.2rem, h5-fontsize, 360, 1600);
	// 		}
	// 	}
	// }
}