#portfolio {
		
	// 	.lazyLoad {
			
	// 		aspect-ratio(1600, 250);
	// 		position: absolute;
	// 		width: 100%;
	// 		height: 250px;
	// 		z-index: -1;
			
	// 		img {

	// 			height: 250px;

	// 		}
			
	// 	}
		
	// 	.expertise-info {
			
	// 		width: 85%;
	//     margin: 8% auto 5%;
	//     padding: 5% 8%;
	// 		background-color: white;

	// 		h1 {
	// 			margin: 2% 0;
	// 			color: darker-grey-copy;
	// 			fontSize(104.599rem, h1-fontsize, 360, 1600);
	// 		}
			
	// 		p {
	// 			fontSize(150.55rem, h5-fontsize, 360, 1600);
	// 			line-height: h3-lineheight;
	// 		}
			
	// 		a {
	// 			display: inline-block;
	// 			margin-top: 50px;
	// 			fontSize(142.2rem, h5-fontsize, 360, 1600);
	// 		}
	// 	}
		
	// 	.expertise-companies {
			
	// 		width: 85%;
	// 		margin: 0 auto;

	// 		ul {
				
	// 			margin: 25px 0;

	// 			li {

	// 				position: relative;
	// 				min-height: 300px;
	// 				margin-bottom: 1%;
	// 				padding: 10px;
					
	// 				transition: all 0.2s ease-in-out;

	// 			}
	// 		}

	// 	}
	// }
}