#press {
	
	// .content-wrapper {
		
	// 	padding: 8% 6% 2%;
		
	// 	.press-info,
	// 	.press-team,
	// 	.press-assets,
	// 	.press-news {
			
	// 		width: 96%;
	//     margin: 0 auto;
	//     padding: 4% 7%;
	// 		border-bottom: 1px solid rgba(0,0,0,0.1);
	// 		background-color: white;
			
	// 		.title {

	// 			margin-bottom: 4.5%;
	// 			text-align: left;

	// 		}

	// 		h1 {
	// 			margin: 2% 0;
	// 			color: darker-grey-copy;
	// 			fontSize(104.599rem, h1-fontsize, 360, 1600);
	// 		}
			
	// 		a {
	// 			display: inline-block;
	// 			margin: 20px 60px 50px 0;
	// 			fontSize(142.2rem, h5-fontsize, 360, 1600);
	// 		}
			
	// 		p {
	// 			width: 80%;
	// 			margin-left: 15%;
	// 			fontSize(150.55rem, h5-fontsize, 360, 1600);
	// 			line-height: h3-lineheight;
	// 		}

	// 	}
		
	// 	.press-news {

	// 		.latest-news-section {
			  
	// 		  width: 100%;
			
	// 		}
    
	//     .content-wrapper-news {
	      
	//       padding: 0 8% 8%;
      
	//       .news-date {

	//       	margin-left: 0;

	//       }
	    
	//     }
      
 //      a {

 //      	bottom: 0;
	//       margin-left: 8%;

 //      }

	// 	}
	// }
}