#team-member {
	
	// .content-wrapper {
		
	// 	margin: 4% 6% 2%;
 //    padding-top: 2%;
 //    background-color: white;
		
	// 	.team-member-info {
			
	// 		width: 65%;
	// 		margin: 5% 0 0 10%;
	// 		padding-bottom: 5%;
	// 		border-bottom: 1px solid rgba(0,0,0,0.1);
			
	// 		.title {

	// 			margin-bottom: 4.5%;
	// 			text-align: left;
				
	// 			&:after {

	// 				width: 0;

	// 			}

	// 		}

	// 		h1 {
	// 			margin: 2% 0;
	// 			color: darker-grey-copy;
	// 			fontSize(104.599rem, h1-fontsize, 360, 1600);
	// 		}
			
	// 		h4 {
	// 			margin-bottom: 5%;
	// 			color: grey-copy;
	// 			font-family: National-Book;
	// 			fontSize(123.05rem, h4-fontsize, 360, 1600);
	// 			line-height: h3-lineheight;
	// 		}
			
	// 		p {
	// 			fontSize(150.55rem, h5-fontsize, 360, 1600);
	// 			line-height: h3-lineheight;
	// 		}
			
	// 		a {
	// 			display: inline-block;
	// 			margin-top: 50px;
	// 			margin-right: 60px;
	// 			fontSize(142.2rem, h5-fontsize, 360, 1600);
	// 		}
		
	// 		.team-member-letter {

	// 			position: absolute;
	// 			opacity: 0.67;
	// 			top: 17%;
	// 			right: 17%;
	// 			color: big-letters;
	// 			fontSize(22.75rem, h1-fontsize, 360, 1600);
	// 			letter-spacing: -40px;

	// 		}

	// 	}
		
	// 	.team-member-board {

	// 		width: 80%;
	// 		margin: 4% auto;
			
	// 		.title {

	// 			text-align: left;
				
	// 			&:after {

	// 				width: 0;

	// 			}

	// 		}

	// 	}
	// }
}