#team {
	
	// .team-section {

	// 	border-top: 5px solid matte-red;
		
	// 	.lazyLoad {
			
	// 		aspect-ratio(1600, 250);
	// 		position: absolute;
	// 		width: 100%;
	// 		height: 250px;
	// 		z-index: -1;
			
	// 		img {

	// 			height: 250px;

	// 		}
			
	// 	}
		
	// 	.team-info {
			
	// 		width: 85%;
	//     margin: 8% auto 0;
	//     padding: 5% 8%;
	// 		background-color: white;

	// 		h1 {
	// 			margin: 2% 0;
	// 			color: darker-grey-copy;
	// 			fontSize(104.599rem, h1-fontsize, 360, 1600);
	// 		}
			
	// 		p {
	// 			fontSize(150.55rem, h5-fontsize, 360, 1600);
	// 			line-height: h3-lineheight;
	// 		}
			
	// 		a {
	// 			display: inline-block;
	// 			margin-top: 50px;
	// 			fontSize(142.2rem, h5-fontsize, 360, 1600);
	// 		}
	// 	}
		
	// 	.team-members {
			
	// 		width: 85%;
	// 		margin: 0 auto;

	// 		ul {
				
	// 			margin: 25px 0;

	// 			li {

	// 				position: relative;
	// 				min-height: 300px;
	// 				margin-bottom: 1%;
	// 				padding: 10px;
					
	// 				transition: all 0.2s ease-in-out;
					
	// 				h2 {

	// 					width: 65%;
 //    				margin: 20% auto 0;
	// 					text-align: center;
	// 					margin-top: 20%;
	// 					fontSize(123.05rem, h4-fontsize, 360, 1600);
						
	// 				}
					
	// 				p {

 //    				margin-top: 3%;
	// 					text-align: center;
	// 					fontSize(150.55rem, h5-fontsize, 360, 1600);
						
	// 				}
			
	// 				.team-member-letter {

	// 					position: absolute;
	// 					opacity: 0.67;
	// 					top: 5%;
	// 					left: 50%;
	// 					transform: translateX(-50%);
	// 					text-align: center;
	// 					color: big-letters;
	// 					fontSize(30.75rem, h1-fontsize, 360, 1600);
	// 					letter-spacing: -40px;
	// 					z-index: -1;

	// 				}
					
	// 				.team-member-about {

	// 					display: inline-block;
	// 					opacity: 0;
	// 			    position: absolute;
	// 			    width: 90%;
	// 			    height: 90%;
	// 			    top: 0;
	// 			    left: 10%;
	// 			    padding: 8%;
	// 			    background-color: off-white-nav;
	// 					border-bottom: none;
						
	// 					transition: all 0.1s ease-in-out;
						
	// 					p {

	// 						text-align: left;
	// 						line-height: h4-lineheight;
	// 						fontSize(150.55rem, h5-fontsize, 360, 1600);

	// 					}
						
	// 					h5 {

	// 						display: inline-block;
	// 						margin-top: 20px;
	// 						font-family: Sabon;
	// 						color: matte-red;
	// 						fontSize(142.2rem, h5-fontsize, 360, 1600);
	// 						border-bottom: 1px dotted darker-grey-copy;

	// 					}

	// 				}
					
	// 				&:hover {
						
	// 					.team-member-about {

	// 						opacity: 1;
					
	// 					}

	// 				}

	// 			}
	// 		}
	// 	}
	// }
	
	// .about-section {
			
	// 	position: relative;
	// 	border-top: 5px solid matte-red;

	// 	.lazyLoad {
		
	// 		aspect-ratio(1600, 600);
			
	// 	}

	// 	.content-wrapper {
			
	// 		position: absolute;
	// 		width: 74%;
	// 		height: 58%;
	//   	left: 50%;
	//     top: 54%;
	// 		padding: 5% 6%;
	// 		background-color: white;
	//     -webkit-transform: translate(-50%, -55%);
	//     -moz-transform: translate(-50%, -55%);
	//     -o-transform: translate(-50%, -55%);
	//     transform: translate(-50%, -55%);
			
	// 		h2 {
	// 			margin-bottom: 3%;
	// 			color: darker-grey-copy;
	// 	    fontSize(109.5rem, h2-fontsize, 360, 1600);
	// 		}
		
	// 		p {
	// 			width: 98%;
	// 	    fontSize(150.55rem, h5-fontsize, 360, 1600);
	// 	    line-height: h3-lineheight;
	// 		}
			
	// 		&.outline {

	// 			height: 55%;
	// 	    top: 46%;
	// 	    left: 53%;
	//     	background-color: transparent;
	// 			outline: 8px solid matte-red;

	// 		}
	// 	}
	// }
}