{#
 # Legal index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/legal is
 # requested, because it is located at legal/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/_layout" %}

{% block content %}

	<div id="about" class="page-wrapper">

		<section class="overview-section">
			<div class="container">
				<div class="grid">

					<div class="subnav-container sticky col-2-8">
						<h4 class="bold">About</h4>
						<h4 class="bold"><a href="/about" class="active">Overview</a></h4>
						<h4 class="bold"><a href="/press">Press</a></h4>
						<h4 class="bold"><a href="/legal">Legal</a></h4>
					</div>

					<div class="overview-container col-6-8">
						{% if entry.overview %}
						<h4>
							{{ entry.overview|nl2br }}
						</h4>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}
