#footer {
	
	height: 479px;
	background-color: black;
	
	.footer-image {

		h2 {

	    width: 75%;
			fontSize(80rem, h1-fontsize, 360, 500);
			lineHeight(40rem, h2-lineheight, 320 , 500);
			
			&:first-of-type {

				margin-top: 70px;

			}
			
			a, em {

				fontSize(80rem, h1-fontsize, 360, 500);
				lineHeight(40rem, h2-lineheight, 320 , 500);

			}

		}
		
		.lazyLoad {

			overflow: visible;
			
			img {

				height: 225px;

			}

		}

	}
	
	.footer-links-wrapper {
    width: 85%;
    margin-left: 12.5%;
    margin-top: 5%;
	}
	
	.locations {
		
		display: inline-block;
		
		li {
			
			display: block;
			text-align: left;
			border-right: none;
			padding-left: 0;
			margin-bottom: 10px;
			
			a {

				display: block;
				fontSize(38rem, h4-fontsize, 360, 500);

			}

		}
	}
	
	.links {
		
  	width: 95%;
  	margin: 12px 0;
		
		li {
			
			a {

				fontSize(45rem, h5-fontsize, 360, 500);

			}
			
		}

	}
}