
#index {

	.hero-section {
		
		min-height: 550px;
	}	
	
	.partnership-section {
		
		li {

			h1 {

				lineHeight(60rem, h1-lineheight, 320 , 1600);

			}

			a {

				lineHeight(60rem, h1-lineheight, 320 , 1600);

			}

		}
		
	}
	
	.trajectory-section {
		
		.lazyLoad {
			
			min-height: 620px;
			
			img {

				min-height: 620px;

			}
			
		}
	}
}