#news {


	.news-filters {
	     
	  span {

	  	fontSize(65rem, h5-fontsize, 360, 1600);

	  }
	  
	  .news-filter-select-container {

	  	margin-bottom: 14px;

	  }

	  .news-filter-select {

	  	fontSize(65rem, h5-fontsize, 360, 1600);

	  }

	  .year-filter-dropdown {
	    
	    position: absolute;
	    width: 250px;
	    top: 3%;
	    left: 46%;
	  }

	  .company-filter-dropdown {
	    
	    position: absolute;
	    width: 275px;
	    top: 54%;
	    left: 44%;
	  }

	}
}