@font-face {
  font-family: 'Sabon';
  src: url('../assets/fonts/SabonLTStd-Roman.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/SabonLTStd-Roman.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/SabonLTStd-Roman.woff') format('woff'),
       url('../assets/fonts/SabonLTStd-Roman.ttf')  format('truetype'),
       url('../assets/fonts/SabonLTStd-Roman.svg') format('svg'); /* Legacy iOS */
  font-stretch: normal;
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Sabon Italic';
  src: url('../assets/fonts/SabonLTStd-Italic.eot');
  src: url('../assets/fonts/SabonLTStd-Italic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/SabonLTStd-Italic.woff') format('woff'),
       url('../assets/fonts/SabonLTStd-Italic.svg') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Sabon Bold';
  src: url('../assets/fonts/SabonLTStd-Bold.eot');
  src: url('../assets/fonts/SabonLTStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/SabonLTStd-Bold.woff') format('woff'),
       url('../assets/fonts/SabonLTStd-Bold.svg') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'National Medium';
  src: url('../assets/fonts/National-Medium.eot');
  src: url('../assets/fonts/National-Medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/National-Medium.woff') format('woff'),
       url('../assets/fonts/National-Medium.svg') format('svg'); 
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'National Book';
  src: url('../assets/fonts/National-Book.eot');
  src: url('../assets/fonts/National-Book.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/National-Book.woff') format('woff'),
       url('../assets/fonts/National-Book.svg') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

Sabon = "Sabon", Times, Serif;
Sabon-Italic = "Sabon Italic", Times, Serif;
Sabon-Bold = "Sabon Bold", Times, Serif;

National-Medium = "National Medium", Arial, Sans-Serif;
National-Book = "National Book", Arial, Sans-Serif;