/* Grid
 ========================================================================== */
 
 min-columns 			= 0;
 max-columns 			= 12;
 gutters 				= 10px;
 
 /* Typography
 ========================================================================== */
      
/* Font Sizes */

base-fontsize        	= 1.6rem;
h1-fontsize			   		= 7.2rem;
h2-fontsize			   		= 2.88rem;
h3-fontsize			   		= 2.0rem;
h4-fontsize         	= 1.5rem;
h5-fontsize			   		= 1.0rem;

/* Line heights */ 

base-lineheight   		= 1.6rem;
h1-lineheight					= 7.2rem;
h2-lineheight					= 2.88rem;
h3-lineheight					= 2.0rem;
h4-lineheight     		= 1.5rem;
h5-lineheight					= 1.0rem;

/* Colors */
grey-copy 						= #a6a6a6;
dark-grey-copy				= #737373;
darker-grey-copy			= #2e2e2e;
blackish-copy					= #404040;
lazyload-background		= #0f0f0f;
off-white-copy				= #f6f6f6;
off-white-nav					= #f5f6f8;
off-white-background 	= #fafafa;
big-letters						= #f9f9f9;
matte-red							= #d51428;