#article {

	.content-wrapper {
		
		margin: 10px 6% 2%;
		
		.article-body {
			
			width: 85%;
			margin: 8% 0 0 10%;

			h1 {
				margin: 6% 0 8%;
				fontSize(60rem, h1-fontsize, 360, 600);
				lineHeight(45rem, h1-lineheight, 360, 600);
			}

			h2 {
				margin: 11% 0;
				fontSize(33rem, h4-fontsize, 360, 600);
			}
			
			a {
				margin-left: 15%;
				fontSize(48rem, h5-fontsize, 360, 600);
			}
			
			p {
				width: 100%;
    		margin: 0;
    		text-align: justify;
				fontSize(45rem, h5-fontsize, 360, 600);
				lineHeight(40rem, h3-fontsize, 360, 600);
				
				a {
					fontSize(45rem, h5-fontsize, 360, 600);
				}
			}
			
			em {

				fontSize(45rem, h5-fontsize, 360, 600);

			}
			
			a {margin-left: 0;}

		}
	}
	
	.social {
		
		height: 115px;

		.icon-container {
			
			margin: 0 15%;
			justify-content: center;

			li {
				
				display: inline-block;
				margin-bottom: 10px;
				
				&:nth-of-type(1) {
					display: block;
					width: 100%;
					margin-bottom: 0px;	
				}
				
				p {
					text-align: center;
					padding-top: 20px;
				}
			}
		}
	}
	

}