#company {
	
	.content-wrapper {
		
		.company-info {
			
			width: 85%;
			margin: 8% 0 0 10%;
			
			.title {

				margin-bottom: 8%;

			}

			h1 {
				margin: 2% 0 8%;
				fontSize(60rem, h1-fontsize, 360, 600);
	      lineHeight(45rem, h1-fontsize, 360, 600);
			}
			
			a {
				margin: 0 30px 20px 0;
				fontSize(39rem, h5-fontsize, 360, 600);
			}
			
			p {
				width: 95%;
				fontSize(45rem, h5-fontsize, 360, 600);
	      lineHeight(40rem, h3-fontsize, 360, 600);
			}
			
			img {display: none;}

		}
		
		.latest-news-section {

			width: 85%;
			margin: 15% auto;
			
			.news-tile {

				margin-bottom: 50px;
			}
			
			.content-wrapper-news {
    		
    		width: 100%;
				top: 3%;
    		padding: 0;
    
	      h2 {
	        margin: 20px 0;
	        fontSize(33rem, h4-fontsize, 360, 600);
	        lineHeight(30rem, h2-lineheight, 320 , 600);
	      }
	      
	      a {
	      	position: relative;
			    margin: 0;
	      }
			}
		}
	}
}