#four-o-four {
	
	height: 550px;
		
	.lazyLoad {

		height: 550px;
		
	}
	
	.content-wrapper {

		height: 300px;
		top: 300px;
		padding: 30px 45px;
		
    h1 {

    	fontSize(70rem, h1-fontsize, 360, 600);

    }

		p {
			margin: 20px 0;
			fontSize(58rem, h5-fontsize, 360, 600);
			lineHeight(62rem, h3-fontsize, 360, 600);
		}
		
		a {

			fontSize(51rem, h5-fontsize, 360, 600);

		}

	}
			
	.outline {
		
		position: absolute;
		width: 77%;
		height: 300px;

    left: 16%;
    top: 150px;
  	background-color: transparent;
		outline: 6px solid matte-red;

	}

}