
#index {

	section {

		margin-bottom: 7.5%;

	}

	.hero-section {

		min-height: 400px;
		margin-top: -55px;
		overflow-x: hidden;

		.lazyLoad {

			aspect-ratio(1600, 881);
			height: 400px;

			img {

				height: 400px;

			}

		}

		p,
		.outline {
			width: 80%;
	    padding: 5.5% 7%;
			fontSize(78rem, h1-fontsize, 360, 600);
			lineHeight(45rem, h1-lineheight, 320 , 600);

			&.outline {

		    left: 8%;
		    top: 20%;

			}
		}

		em {

			fontSize(78rem, h1-fontsize, 360, 600);
			lineHeight(45rem, h1-lineheight, 320 , 600);

		}

		strong {

			fontSize(78rem, h1-fontsize, 360, 600);
			lineHeight(45rem, h1-lineheight, 320 , 600);

		}
	}

	.expertise-section {

    margin: 0;
    padding: 14% 0 10%;

		.areas-container {

			width: 80%;

			.expertise {

				margin-bottom: 65px;

				h3 {
					fontSize(33rem, h4-fontsize, 360, 600);
				}

				p {
					width: 100%;
					margin-bottom: 43px;
					fontSize(45rem, h5-fontsize, 360, 600);
	     		lineHeight(40rem, h3-fontsize, 360, 600);
				}

				a {
   				position: relative;
					margin-right: 15px;
					padding: 0;
					text-align: left;
		  		fontSize(48rem, h5-fontsize, 360, 600);

		  		&:last-child {margin-left: 0;}
				}
			}
		}
	}

	.partnership-section {

		margin-top: 55px;
		height: 250px;

		.title {

			&:after {width: 20%;}

		}

		li {

			h1 {

				fontSize(49rem, h4-fontsize, 360, 1600);
				lineHeight(50rem, h1-lineheight, 320 , 1600);

			}

			a {

				fontSize(49rem, h4-fontsize, 360, 1600);
				lineHeight(50rem, h1-lineheight, 320 , 1600);

			}
		}
	}
}
