#news {


	.news-filters {
  
	  span {

	  	display: inline;
	  	fontSize(45rem, h5-fontsize, 360, 500);

	  }
	  
	  .news-filter-select-container {

	  	display: block;
	  	margin-bottom: 25px;

	  }

	  .news-filter-select {

	  	margin: 10px;
	  	fontSize(45rem, h5-fontsize, 360, 500);

	  }

	  .year-filter-dropdown {
	    
	    position: absolute;
	    width: 175px;
	    top: 8%;
	    left: 38%;
	  }

	  .company-filter-dropdown {
	    
	    position: absolute;
	    width: 275px;
	    top: 56%;
	    left: 38%;
	  }

	}
	
	.news-tile {

		display: block;
 		position: relative;
		width: 100%;
    padding: 6%;
		
		&.first, 
		&.second {
	    
	    .news-info {
				.title-link {

		    	h1 {
						fontSize(60rem, h1-fontsize, 360, 600);
					}
		    }
	    }
		}

		.news-info {
			
	    .title-link {
				
				min-height: 175px;
	    	
	    	h1 {
					fontSize(60rem, h1-fontsize, 360, 600);
				}

	    }

			a {
				margin-top: 10px;
				fontSize(48rem, h5-fontsize, 360, 600);
			}
		}
	}
	
	.load-more-container {
		
		.load-more {

			fontSize(39rem, h5-fontsize, 360, 600);

		}

	}
}