#press {
	
	.content-wrapper {

		padding: 30% 4% 2%;
		
		.press-info,
		.press-team,
		.press-assets,
		.press-news {
			
			width: 100%;
    	padding: 8% 10%;
			border-bottom: none;

			h1 {
				margin: 6% 0 8%;
				fontSize(60rem, h1-fontsize, 360, 600);
			}

			h2 {
				margin: 6% 0 8%;
				fontSize(99.555rem, h2-fontsize, 360, 600);
			}
			
			a {
				margin: 20px 60px 50px 0;
				fontSize(48rem, h5-fontsize, 360, 600);
			}
			
			p {
				width: 95%;
				margin-left: 0;
				fontSize(45rem, h5-fontsize, 360, 600);
	      lineHeight(40rem, h3-fontsize, 360, 600);
			}

		}
		
		.press-news {
			
			.news-tile {

				&:before {padding-top: 175%;}

			}
			
			.content-wrapper-news {
    		
    		width: 100%;
				top: 3%;
    		padding: 0;
    
	      h2 {
	        margin: 20px 0;
	        fontSize(33rem, h4-fontsize, 360, 600);
	        lineHeight(30rem, h2-lineheight, 320 , 600);
	      }
			}
      
      a {margin-left: 0;}

		}
	}
}