#company {
	
	.content-wrapper {
		
		width: 85%;
		max-width: 1600px;
		margin: 40px 6% 0;
    padding-top: 25px;;
    background-color: white;
		z-index: 0;
		
		.company-info {
			
			width: 80%;
			margin: 5% auto 0;
			padding-bottom: 50px;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			
			.title {

				margin-bottom: 4.5%;
				text-align: left;
				
				&:after {

					width: 0;

				}

			}

			h1 {
				display: block;
				width: 75%;
				margin: 2% 0;
				color: darker-grey-copy;
				fontSize(104.599rem, h1-fontsize, 360, 1280);
				lineHeight(70.555rem, h2-lineheight, 320 , 1280);
			}
			
			a {
				display: inline-block;
				margin: 20px 60px 50px 0;
				fontSize(142.2rem, h5-fontsize, 360, 1280);
			}
			
			p {
				width: 80%;
				fontSize(150.55rem, h5-fontsize, 360, 1280);
				line-height: h3-lineheight;
			}
			
			img {

				position: absolute;
				width: 198px;
				top: 225px;
    		left: 64%;

			}

		}
		
		.latest-news-section {

			width: 85%;
    	margin: 0 10%;
			
			.title {
				
				margin-top: 5%;
				text-align: left;
				
				&:after {

					width: 0;

				}
				
			}
			
			.news-tile {
				
				margin-bottom: 100px;
			
				&:nth-child(n+4) {

					display: none;

				}

			}
			
			.content-wrapper-news {
    		
    		width: 75%;
				top: 5%;
    		padding: 0;
    
	      h2 {
	        margin: 20px 0;
	        fontSize(123.05rem, h4-fontsize, 360, 1600);
	        lineHeight(120rem, h2-lineheight, 320 , 1600);
	      }
	      
	      a {
	      	position: relative;
			    margin: 0;
	      }
			}
			
			.all-news-container {

		    position: relative;
		    height: 85px;
		    padding: 33px 0;

			}
		}
	}
}