#contact {
	
	.location-section {
		
		height: 920px;
		background-color: off-white-nav;
		border-top: 5px solid matte-red;
		
		&:first-of-type {

			border-top: none;

		}

		.map {
			
			width: 100%;
			
			#map-1, #map-2, #map-3, {
				width: 100%;
				height: 450px;
				
				a[href^="http://maps.google.com/maps"]{display:none !important}
				a[href^="https://maps.google.com/maps"]{display:none !important}

				.gmnoprint a, .gmnoprint span, .gm-style-cc {
				    display:none;
				}
				.gmnoprint div {
				    background:none !important;
				}
			}
		}

		.city-name {

			display: block;
			margin-bottom: 4%;
			color: darker-grey-copy;
	    	fontSize(104.599rem, h1-fontsize, 360, 1600);

		}
		
		.location-info {
			
			// display: flex;
			position: relative;
			top: -25%;
			margin: 0 auto;
			padding: 5% 7%;
			background-color: white;
			
			.location-details {

				.address {
					
					padding-left: 40px;
					position: relative;
					
					&:before {
					    content: "";
					    display: block;
					    background: url("../assets/icons/icon_pin_map.svg") no-repeat;
					    background-size: 45%;
					    position: absolute;
					    left: 0;
					    top: 4px;
					    padding-top: 10px;
					    width: 35px;
					    height: 40px;
					    float: left;
					    margin: 0 6px 0 0;
					}
				}
				
				.tel {
					
					padding-left: 40px;
					position: relative;

					&:before {
					    content: "";
					    display: block;
					    background: url("../assets/icons/icon_tel.svg") no-repeat;
					    background-size: 50%;
						position: absolute;
						left: 0;
						top: 6px;
					    width: 40px;
					    height: 40px;
					    float: left;
					    margin: 0 6px 0 0;
					}	
				}

			}
		
			p {
				width: 98%;
		    fontSize(150.55rem, h5-fontsize, 360, 1600);
		    line-height: h3-lineheight;

			}
		    	
		    a {

		    	font-style: italic;
		    	fontSize(150.55rem, h5-fontsize, 360, 1600);

		    }
			
			// .contact-center {
				
			// 	li {
			// 		text-align: center;
			// 	}
			
			// }
			
			// .contact-right {
				
				//margin-left: 15%;

			// }
		}
	}
}