#four-o-four {
		
	.lazyLoad {
		
		aspect-ratio(1600, 881);
		
		img {

			height: 100%;

		}
		
	}
	
	.content-wrapper {
		
		display: block;
		position: absolute;
		width: 77%;
		max-width: 1400px;
		height: 350px;
    left: 50%;
    top: 400px;
	  padding: 60px 70px;
	  background-color: white;
    -webkit-transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -o-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
		
    h1, p {

    	display: block;

    }

		p {
			max-width: 1400px;
			margin: 40px 0;
	    color: grey-copy;
			fontSize(150.55rem, h5-fontsize, 360, 1600);
		}
		
		a {

			display: inline-block;

		}

	}
			
	.outline {
		
		position: absolute;
		width: 77%;
		max-width: 1400px;
		height: 350px;

    left: 14%;
    top: 225px;
  	background-color: transparent;
		outline: 8px solid matte-red;

	}

}