#legal {
	
	.legal-section {

		z-index: 1;

		.legal-copy {
			
			width: 85%;
	    margin: 100px auto 0;
	    padding: 45px 100px 150px;
			background-color: white;

			h1 {
				margin: 20px 0 45px;
				color: darker-grey-copy;
				fontSize(104.599rem, h1-fontsize, 360, 1600);
			}

			h3 {
				margin: 20px 0;
				margin-left: 8%;
				color: darker-grey-copy;
				fontSize(123.05rem, h4-fontsize, 360, 1600);
			}
			
			p {
				width: 85%
				margin-left: 8%;
				fontSize(150.55rem, h5-fontsize, 360, 1600);
				line-height: h3-lineheight;
			}
			
			a {
				display: inline-block;
				margin-top: 50px;
				fontSize(142.2rem, h5-fontsize, 360, 1600);
				cursor: pointer;
				font-style: italic;
			}
		}
	}
}