{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>

	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<meta name="robots" content="index, follow">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>

	<!-- Opengraph meta -->
	{% if entry.type is defined and entry.type == 'article' %}
		{% set longUrl = 'https://www.appletreepartners.com/news/{{entry.slug}}' %}
	{% else %}
		{% set longUrl = 'https://www.appletreepartners.com/' %}
	{% endif %}

	<meta property="og:type" content="{% if entry.type is defined and entry.type == 'article' %}article{% else %}website{% endif %}" />
	<meta property="og:title" content="{% if entry.type is defined and entry.type == 'article' %}{{ entry.title }}{% else %}Apple Tree Partners{% endif %}" />
	<meta property="og:description" content="{% if entry.type is defined and entry.type == 'article' %}We use a long term investment philosophy to build sustainable healthcare companies through meaningful partnerships and deep expertise.{% else %}We use a long term investment philosophy to build sustainable healthcare companies through meaningful partnerships and deep expertise.{% endif %}" />
	<meta property="og:url" content="{% if entry.type is defined and entry.type == 'article' %}https://www.appletreepartners.com/news/{{entry.slug}}{% else %}https://www.appletreepartners.com{% endif %}" />
	<meta property="og:image" content="https://www.appletreepartners.com/assets/og-large.png" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="640" /> <!-- 160 -->
	<meta property="og:image:height" content="360" /> <!-- 90 -->
	<meta property="og:site_name" content="Apple Tree Partners" />

	<!-- Twitter meta -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@AppleTreePartners" />
	<meta name="twitter:title" content="{% if entry.type is defined and entry.type == 'article' %}{{ entry.title }}{% else %}Apple Tree Partners{% endif %}" />
	<meta name="twitter:description" content="{% if entry.type is defined and entry.type == 'article' %}{{ entry.title }} - {{ longUrl|shorten }}{% else %}We use a long term investment philosophy to build sustainable healthcare companies through meaningful partnerships and deep expertise. - {{ longUrl|shorten }}{% endif %}" />
	<meta name="twitter:image" content="https://www.appletreepartners.com/assets/android-chrome-192x192.png" />

	<title>{% if entry.title is defined %}{{ entry.title }} - {% endif %}{{ siteName }}</title>

	<script src="https://use.typekit.net/dmu8ohq.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<link rel="shortcut icon" href="/assets/favicon.ico?1" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
	<link rel="manifest" href="/assets/manifest.json">
	<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="/css/main.css">
</head>

<body class="color-1">
	<div class="blocker"></div>
	<header id="header">
		<div class="container">
			<a class="logo" href="http://www.appletreepartners.com/"><h2 class="letter-a">A</h2><h2 class="letter-t">T</h2><h2 class="letter-p">P</h2></a>

			<svg id="menu" version="1.1" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="-297 390 16 14">
				<rect x="-297" y="390" class="st0" width="16" height="2"/>
				<rect x="-297" y="402" class="st0" width="16" height="2"/>
				<rect x="-297" y="396" class="st0" width="16" height="2"/>
			</svg>

			<nav id="navigation">
				<svg version="1.1" class="close" xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32">
				  <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="3.35" transform="translate(1 1)">
				    <path d="M30.1758 28.9L.1568.212M.1572 28.8991L30.1752.2101"/>
				  </g>
				</svg>
				<ul>
					<li><a class="header-link therapeutics {% if craft.request.lastSegment == 'therapeutics' %} active {% endif %}" href="/expertise/therapeutics"><h2 class="bold">Therapeutics</h2></a></li>
					<li><a class="header-link medical-devices {% if craft.request.lastSegment == 'medical-devices' %} active {% endif %}" href="/expertise/medical-devices"><h2 class="bold">Medical Devices</h2></a></li>
					<!-- <li><a class="header-link healthcare-services {% if craft.request.lastSegment == 'healthcare-services' %} active {% endif %}" href="/expertise/healthcare-services"><h2 class="bold">Healthcare Services</h2></a></li> -->
					<li><a class="header-link news {% if craft.request.firstSegment == 'news' %} active {% endif %}" href="/news"><h2 class="bold">News</h2></a></li>
					<li><a class="header-link about {% if craft.request.lastSegment == 'about' or craft.request.lastSegment == 'press' or craft.request.lastSegment == 'legal' %} active {% endif %}" href="/about"><h2 class="bold">About</h2></a></li>
					<li><a class="header-link {% if craft.request.lastSegment == 'contact' %} active {% endif %}" href="/contact"><h2 class="bold">Contact</h2></a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main id="body" role="main">
		{% block content %}
			<!-- Page content comes here -->
		{% endblock %}
	</main>

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-80576759-1', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXoQFbN_HfRuizfHOFbLOLeX-4C1mc1Yk"></script>
	<script type="text/javascript" src="/js/siema.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>
