{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/_layout" %}

{% block content %}
	<div id="index" class="page-wrapper">

		<section class="hero-section">
			<div class="container">
				<h1 class="hero-text">{{entry.blurb}}</h1>
			</div>
			<svg class="down-arrow" xmlns="http://www.w3.org/2000/svg" width="41" height="23" viewBox="0 0 41 23">
			  <polyline fill="none" stroke="#000" stroke-width="3.093" points="2 1.33 20.875 20.158 39.703 1.283"/>
			</svg>
		</section>

		<section class="expertise-section">
			<div class="container">
				<div class="grid">
					{% for header in entry.areasOfExpertise %}
						{% if header.type == "sectionTitle" %}
							<h4 class="bold col-2-8 expertise-header">{{ header.header }}</h4>
						{% endif %}
					{% endfor %}

					<div class="areas-container col-6-8">
						{% for expertise in entry.areasOfExpertise %}
							{% if expertise.type == "areaOfExpertise" %}
								<div class="grid margin-b-40">
									<div class="col-1-3">
										{% set anchor = expertise.areaTitle|split(' ')[0] %}
										<h4>{{expertise.areaTitle}}</h4>
									</div>
									<div class="col-2-3">
										{{expertise.areaDescription}}<br>
										<br>
										<a href="/expertise/{{anchor}}#portfolio">Portfolio</a>&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="/expertise/{{anchor}}#team">Team</a>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>

		<section class="partnership-section color-background">
			<div class="container">
				<div class="grid">
					<h4 class="bold col-2-8 news-header">Recent News</h4>

					<div class="col-6-8 partnership-carousel">

						<ul class="carousel-items-container">
							{% set news = entry.featurednewsitems.order('postDate desc') %}
							{% for newsItem in news.limit(6) %}
								<li class="carousel-item {% if loop.index == 1 %} active {% endif %}" data-id="{{loop.index - 1}}">
									<div class="bold">{{newsItem.publishedDate | date("M d, Y")}}</div>
									<a href="/news/{{newsItem.slug}}">
										<h2>{{newsItem.articleDisplayTitle}}</h2>
									</a>
								</li>
							{% endfor %}
						</ul>

						<div class="carousel-indicators">
							<button class="active"></button>
							<button></button>
							<button></button>
							<button></button>
							<button></button>
							<button></button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<footer id="footer" class="row">
		<div class="container">
			<div class="grid offices">
				<h4 class="bold col-2-8 office-header">{{footer.footerCopy}}</h4>
				<div class="tablet-column">
					{% for location in footer.locations %}
						<div class="col-2-8">
							<a href="/contact#{{location.cityName |replace(' ', '-') }}" class="regular bold office-name">{{location.cityName}}</a>
							<div class="tablet-office">
								{{location.address|nl2br}}<br>
								Tel {{location.telephone}}<br>
								Fax {{location.fax}}<br>
								<a href="/contact#{{location.cityName |replace(' ', '-')}}" class="see-map">See Map</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="links">
				<a href="/press">Press</a> <a href="/legal">Legal</a>
			</div>
		</div>
	</footer>

{% endblock %}
