{#
 # Team page template
 # ---------------
 #}

{% extends "_layouts/_layout" %}

{% set teamMemberIdsOrder = [29] %}
{% set orderedTeamMemberIds = craft.entries.section('teamMember').id(teamMemberIdOrder).fixedOrder().ids() %}
{% set otherTeamMemberIds = craft.entries.section('teamMember').id(['not']|merge(orderedTeamMemberIds)).ids() %}
{% set teamMembers = craft.entries.section('teamMember').id(teamMemberIdsOrder|merge(otherTeamMemberIds)).fixedOrder(true).all() %}


{% block content %}
	
	<div id="team" class="page-wrapper">
		<div class="subnav col-8-8 tablet-3-3" data-pane="team">
			<div class="team-list overview-container col-1-3">
				<ul>
					{% for member in teamMembers %}
						{% if member.type == "teamMember" %}

							<li data-switch="member"><a class="toggle-nav{% if loop.index == '1' %} active{% endif %}" href="#" data-pane="member-{{member.id}}" data-group="member">{{member.title}}, {{member.teamMemberPosition}}</a>	</li>

						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="overview-container col-2-3">
				{% for member in teamMembers %}
				<div class="member {% if loop.index != '1' %} hidden{% endif %}" data-pane="member-{{member.id}}">
					<div class="margin-b-30 no-first-p-top">
						{{member.teamMemberBio}}
					</div>

					{% if member.teamTags|length > 0 %}
					<div class="col-4-8">
						<span class="bold">Board Responsibilities</span>
					</div>
					{% endif %}
					<div class="col-4-8">
						{% for tag in member.teamTags %}
						<a class="hard-hash" href="/expertise/{{tag.companyTags[0] |lower |replace(' ', '-') }}#portfolio&company-{{tag.id}}">{{tag}}</a><br>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}