{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/_layout" %}

{% block content %}

	<div id="news" class="page-wrapper">
		{% cache for 2 weeks %}
		{% set newsEntries = craft.entries.section('news').limit(null).order('publishedDate desc') %}
		<section class="news-section">
			<div class="container">
				<div class="grid">

					<div class="subnav-container sticky col-2-8">
						<h4 class="bold news-title">News</h4>
						<h4>Filter by</h4>

						<h4 class="toggle-year-filter"><a href="#">Years</a></h4>
						<ul class="year-filter-dropdown">
							<li id="year-all" class="year-filter active"><h4>All</h4></li>
							{% for date, entries in newsEntries | group("publishedDate|date('Y')") %}
							<li id="year-{{date}}" class="year-filter"><h4>{{date}}</h4></li>
							{% endfor %}
						</ul>

						<h4 class="toggle-company-filter"><a href="#">Companies</a></h4>
						<ul class="company-filter-dropdown">
							<li id="company-all" class="company-filter active"><h4>All</h4></li>
							{% for tag in craft.tags.group('newsTags').relatedTo(newsEntries) %}
							<li id="company-{{tag.title |replace(' ', '-') }}" class="company-filter"><h4>{{tag.title}}</h4></li>
							{% endfor %}
						</ul>

					</div>

					<div class="overview-container col-6-8">

						{% for newsEntry in newsEntries %}
							{% set url = newsEntry.type.handle == 'link' ? newsEntry.linkUrl : newsEntry.url %}

							<article class="{% if loop.index > 5 %}hidden{% endif %} active news-tile year-all company-all{% for tag in newsEntry.tags %} company-{{ tag.name |replace(' ', '-') }}{% endfor %} year-{{newsEntry.publishedDate | slice(0,4) }} row">

								<div class="news-info margin-b-40">
									<div class="news-date bold">{{newsEntry.publishedDate | date("M d, Y")}}</div>
									<a class="title-link" href="{{ url }}"><h2>{{ newsEntry.articleDisplayTitle }}</h2></a>
								</div>

							</article>
						{% endfor %}

						<div class="load-more-container">
							<a class="load-more bold">Load more news</a>
						</div>

						<div class="no-more-container bold hidden">
							<p>{{noMoreNewsCopy.noNewsCopy}}</p>
						</div>

					</div>
				</div>
			</div>
		</section>
		{% endcache %}
	</div>

{% endblock %}