{#
 # Contact template
 # ---------------
 #}

{% extends "_layouts/_layout" %}

{% block content %}

	<div id="contact" class="page-wrapper">

		<section class="contact-section">
			<div class="container">
				<div class="grid">

					<div class="subnav-container col-2-8">
						<h4 class="bold">Contact</h4>
						{% for location in entry.locations %}
						<h4 class="bold"><a href="#" class="toggle-nav load-map {% if loop.index == "1" %}active{% endif %}" data-pane="{{location.cityName|replace(' ', '-')}}" data-group="subnav">{{location.cityName}}</a></h4>
						{% endfor %}
					</div>

					{% for location in entry.locations %}
						{% set address = location.address|nl2br %}
						<div class="map-item overview-container col-2-8 subnav {% if loop.index != "1" %}hidden{% endif %}" data-pane="{{location.cityName|replace(' ', '-')}}" data-address="{{location.address|url_encode}}" data-lat="{{location.locationLatitude}}" data-lon="{{location.locationLongitude}}">
							<div id="contact-{{loop.index}}">
								<h4>
									<a id="mapLink" target="_blank" href="https://www.google.com/maps/place/{{location.address|url_encode}}">{{address|raw}}</a><br>
									Tel {{location.telephone}}<br>
									Fax {{location.fax}}<br>
									<a href="mailto:{{location.email}}">Contact Us</a>
								</h4>
							</div>
						</div>
					{% endfor %}
					<div class="overview-container col-4-8 map-container">
						<div class="map row">
							<div id="map"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}
