{#
 # Portfolio page template
 # ---------------
 #}

{% extends "_layouts/_layout" %}

{% set companies = craft.entries.section('company').order('title asc').all() %}

{% block content %}
	<div id="portfolio" class="page-wrapper">
		<div class="company-grid col-8-8 tablet-3-3"">
			{% for company in companies %}
				{% set companyLogo = company.companyLogo.first() %}
				{% if companyLogo %}
					{% set contact = company.companyContactMethods.first() %}
					{% if contact and contact.companyWebsite %}
					<div class="company-grid-item">
						<a href="{{contact.companyWebsite}}">
							<img src="{{company.companyLogo.first().url}}" />
						</a>
					</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}